body {
  background-repeat: no-repeat;
  margin: 0;
  background-image: url(../../assets/images/t.png);
  background-size: cover;
  font-family: 'Cormorant Garamond', serif;
  color: #5d4037;
  padding-left: 40px;
}

.container {
  text-align: center;
  padding: 150px 20px;
  padding-left: 400px;
}

.head h1 {
  font-size: 70px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 25px;
  padding-left: 8%;
  margin-right: 9%;
}

.head h1 i {
  margin-right: 10px;
  color: #1d0f08;
}

.quote {
  font-size: 25px;
  font-style: italic;
  color: #ffe0b2;
  margin-left: 10px;
  margin-bottom: 0%;
}

.nav-links {
  width: 88%;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 90px;
  margin-top: 60px;
  margin-left: 50px;
}

.nav-links a {
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 18px;
  background-color: #3e2723;
  color: #ffe0b2;
  border: 1px solid #ffe0b2;
  transition: all 0.3s ease;
  backdrop-filter: blur(4px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  transform: perspective(500px) rotateY(5deg);
}

.nav-links a:hover {
  background-color: #ffe0b2;
  color: #3e2723;
  transform: scale(1.05) rotateY(0deg);
  box-shadow: 0 6px 20px rgba(255, 224, 178, 0.4);
}

.icon-bar {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 1000;
}

.icon-bar a {
  text-decoration: none;
  font-size: 24px;
  margin-left: 15px;
  color: #333;
  transition: color 0.3s ease;
}

.icon-bar a:hover {
  color: #ff4081;
}

/* Hide video on desktop */
.mobile-bg-video {
  display: none;
}

/* Default: No glass box on desktop */
.glass-wrapper {
  padding: 0;
}

/* Apply glass box only for mobile */

@media screen and (max-width: 768px) {

  body {
    background-image: none;
    padding-left: 0;
    margin: 0;
  }

  .mobile-bg-video {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  .container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically */
    text-align: center;
    min-height: 100vh;
  }

  .head h1 {
    font-size: 32px;
    color: #dddddd;
    width: 100%;
    text-decoration: underline;
  }

  .quote {
    font-size: 20px;
    color: #f1eded;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .nav-links {
    bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;

   
  }

  .nav-links a {
    padding: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #ca983c;
    text-align: center;
    border-radius: 20px;
  }
}
